/* 
    Document   : layout.css
    Created on : Sep 25, 2012, 4:08:01 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body,
html {
    margin:0;
    padding:0;
}

#page {
    margin: 0 34px;  /* width of logo, plus 7px */
}

.no-header #header {
    display: none;
}

.no-header #content {
    padding-top: 48px;
}

#logo-and-title {
    float: left;
    margin-right: -43px;  /* -(width of logo image) */
}

#logo {
    float: left;
}

#header .menu {
    text-align: center;
}

#main {
    padding: 10px;
    margin-left: 200px;
}

#sidebar {
    float: left;
    width: 180px;
    padding: 0 10px;
    margin-right: -190px;  /* margin = -(width + padding) */
}

.sidebar-block {
    margin-bottom: 10px;
}

#footer {
    clear: both;
}
