/* 
    Document   : layout.css
    Created on : Sep 25, 2012, 4:08:01 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body,
html {
    margin:0;
    padding:0;
}

#page {

}

#header {
    
}

#logo {
    float: left;
}

#content {
    clear: both;
}

#main {
    padding: 10px;
    margin-left: 220px;
}

#sidebar {
    float: left;
    width: 200px;
    margin-right: -210px;
    padding: 10px;
}

.sidebar-block {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    clear: both;
}
