/* 
    Document   : log
    Created on : Nov 2, 2012, 9:10:48 AM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

.work-log-details {
    float: right;
    margin-right: 2.5em;
}

.work-log-dates {
    margin-left: 1.5em;
    font-style: italic;
}

.work-log-list {
    background-color: #fffbf2;
    padding: 1em 1.5em;
    border: 1px solid #e6e3da;
    border-top-left-radius: 0.75em;
}

.date-log {
    margin-bottom: 1.5em;
}

.date-header {
    font-size: 115%;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

.date-details {
    float: right;
    width: 8em;
    margin-left: -8em;
}

.task-log-list {
}

.task-log {
    margin: 1em 0;
}

.task-header {
    margin-bottom: 1em;
}

.task-details {
    float: right;
    width: 8em;
    margin-left: -8em;
}

.task-summary {
    margin-right: 10em;
}

.log-entry-list {
    padding-left: 1.5em;
}

.log-entry {
    margin: 0.5em 0;
}

.log-entry-details {
    float: right;
    width: 5em;
    margin-left: -5em;
}

.log-entry-description {
    margin-right: 10em;
}

.log-entry-dates {
    color: #9e978c;
    font-size: 85%;
    font-style: italic;
    padding-left: 1.75em;
}
