/* 
    Document   : log
    Created on : Nov 2, 2012, 9:10:48 AM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/


.work-log-list {
    background-color: #fffaed;
    padding: 1em 1.5em;
    border: 1px solid #e6e3da;
    border-top-left-radius: 0.75em;
}

.date-log {
    margin-bottom: 1.5em;
}

.date-header {
    font-size: 115%;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

.date-details {
    float: right;
}

.task-log-list {
}

.task-header {
    margin-bottom: 1em;
}

.task-details {
    float: right;
}

.log-list {
    padding-left: 1.5em;
}

.log {
    margin: 0.5em 0;
}

.log-details {
    color: #9e978c;
    font-size: 85%;
    font-style: italic;
}

.log-dates {
    float: right;
}
