
#content {
    padding-left: 10px;
    padding-right: 10px;
}

#login-controls {
    float:right;
    width: 240px;
    margin-left: -240px;
}

#login-controls form {
    padding: 25px;
    border: 1px solid #a0a0a0;
}

#login-main {
    background: #f1f1ee;
    padding-bottom: 1em;
}

#login-form {
    margin: 0 240px;
    padding: .5em 1em;
    background-color: #fcfcff;
    border-radius: 4px;
}

#login-form label {
    margin-top: 15px;
}

#login-form input[type=text],
#login-form input[type=password] {
        font-size: 135%;
        padding: 10px 15px;
        margin-bottom: 10px;
        width: 100%;
}

#login-form input[type=text]:focus,
#login-form input[type=password]:focus {
        background-color: lightblue;
}

label {
    display:block;
}
