
#header {
    display: none;
}

#content {
    padding-top: 48px;
}

#login-controls {
    float:right;
    width: 240px;
    margin-left: -240px;
}

#login-controls form {
    padding: 25px;
    border: 1px solid #a0a0a0;
}

#login-main {
    padding-bottom: 1em;
}

#login_form {
    margin: 0 5em;
    padding: .5em 1em;
    background-color: #fafaf7;
    border: 1px solid #ebebe8;
    border-radius: 1em;
}

#login_form label {
    margin-top: 15px;
}

#login_form input[type=text],
#login_form input[type=password] {
        font-size: 135%;
        padding: 10px 15px;
        margin-bottom: 10px;
        width: 15em;
}

#login_form input[type=text]:focus,
#login_form input[type=password]:focus {
        background-color: lightblue;
}

label {
    display:block;
}
