
.project-id,
.task-id {
    display: none;
}

.project-name {
    margin: 0.5em 0;
}

.task-list {
    padding: 0.3em 2em;
    border-left: 1px solid #eee;
}

.task-info {
    float:right;
}

.task-user {
    display: inline-block;
    width: 3em;
}

.task-timebox {
    display: inline-block;
    width: 7.5em;
}

