/* 
    Document   : project
    Created on : Oct 17, 2012, 1:22:25 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

.task-id {
    display: none;
}

.task-details {
    float:right;
}

.timebox-id {
    display: none;
}

.timebox-details {
    float: right;
    width: 7.5em;
}

.timebox-end-date {
    text-align: right;
}

.user-id {
    display: none;
}

.user input[type="submit"].remove-user {
    height: 12px;
    width: 12px;
    margin: 0 0 2px 2px;
    background: #ecc url('image/delete.png') no-repeat top left;
    border: none;
}
