
.project-id,
.task-id {
    display: none;
}

.project,
.task {
    margin-bottom: 0.5em;
    border-top-left-radius: 0.4em;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.task-list {
    padding: 0.5em 0 0.5em 1em;
    background-color: #fcfcfc;
}

.task {
    margin: 0.5em 0;
}

.task-details {
    float:right;
}

.task-user {
    display: inline-block;
    width: 3em;
}

.task-timebox {
    display: inline-block;
    width: 7.5em;
}

