

.timebox-name {
    margin: 0.5em 0;
}

.timebox-info {
    float: right;
    width: 7.5em;
}

.timebox-end-date {
    text-align: right;
}

.timebox-id {
    display: none;
}

.project-info {
    margin-left: 1em;
}

.project-id {
    display: none;
}

.project-name {
    font-size: 75%;
}

.task-list {
    padding: 0.3em 2em;
    border-left: 1px solid #eee;
}

.task-id {
    display: none;
}

.task-info {
    float: right;
    width: 3em;
    margin-left: -3em;
}

.task-summary {
    margin-right: 7.5em;
}