
.timebox {
    margin-bottom: 0.5em;
    border-top-left-radius: 0.4em;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.timebox-details {
    float: right;
    width: 7.5em;
}

.timebox-end-date {
    text-align: right;
}

.timebox-id {
    display: none;
}

.project-info {
    padding-left: 1.25em;
}

.project-id {
    display: none;
}

.project-name {
    font-size: 75%;
}

.task-list {
    padding: 0.5em 0 0.5em 1em;
    background-color: #fcfcfc;
}

.task {
    margin: 0.5em 0;;
}

.task-id {
    display: none;
}

.task-details {
    float:right;
}

.task-user {
    display: inline-block;
    width: 3em;
}
