/* 
    Document   : style.css
    Created on : Sep 25, 2012, 4:07:53 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body,
html {
    color: #5A5956;
    font-family: Tahoma, sans-serif;
    font-size: 10.5pt;
}

form label {
    color: #855;
    font-variant: small-caps;
    font-size: 85%;
}

h1, h3 {
    padding-left: 1em;
}

.main-form label,
.main-form input[type="password"],
.main-form input[type="text"] {
    margin: 0.5em 0;
}

.main-form input[type="submit"] {

}

.main-form label {
    display: inline-block;
    width: 7.5em;
}

.main-form #form-controls {
    margin: 1em 2em 1em 7.5em;
}

a.object-ref,
a.object-ref:visited {
    color:inherit;
    text-decoration: none;
}

a.object-ref:hover {
    color: #000;
    text-decoration: underline;
}

#page {
    background-color: white;
    border-radius: 0.75em;
}

#header {
    padding: 1.25em .75em 0 .75em
}

#footer {
    padding: 1em .75em;
    font-size: 75%;
}

#footer #copyright {
    float: right;
}

#title {
    font-size: 300%;
}

ul.menu {
    padding-left: 0;
    margin: 0;
}

.menu li {
    list-style-type: none;
    color: #448b25;
    font-size: 125%;
    font-weight: bold;
}

#header .menu li {
    display: inline-block;
    list-style-type: none;
    padding: 0.25em 1.75em;
    font-size: 125%;
    text-align: center;
}

.sidebar-block .menu li {
    list-style-type: none;
    font-size: 115%;
    margin: 0.75em 0;
}

.menu li a,
.menu li a:visited {
    color: #B66A18;
    text-decoration: none;
}

.menu li a:hover {
    color: #f5ab00;
    text-decoration: underline;
}

#content {
}

.user-message {
    padding: 15px;
    background-color: #558;
    color: #eef;
    border: 1px solid #335;
    border-radius: 0.5em;
}

.user-message.failure {
    background-color: #e92500;
    color: #ffea96;
    border: 1px solid #000000;
}

.user-message.warning {
    background-color: #ffe7bd;
    color: #a53b00;
    border: 1px solid #fad1bb;
}

.user-message.success {
    background-color: #dffadf;
    color: #437543;
    border: 1px solid #cbf1cb;
}

.user-message.info {
    background-color: #f0f4ff;
    color: #474770;
    border: 1px solid #b5b5ca;
}

.user-message.debug {
    background-color: #effdfd;
    color: #85b1ca;
    border: 1px solid #d3e6f1;
    font-family: "Andale Mono", monospace;
    white-space: pre-wrap;
}

.sidebar-block {
    padding: .75em;
    border-width: 1px;
    border-style: solid;
    border-color: #ebebe8;
    border-radius: 1em;
    background-color: #fafaf7;
}

.sidebar-block form .group {
    margin: 0.25em 0;
}

#main {
    background-color: #f1f1ee;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border: 1px solid #e6e6e4;
}

.date {
    display: inline-block;
    width: 7.5em;
    margin: 0 0.5em;
}

.date-time {
    display: inline-block;
    width: 10em;
    margin: 0 0.5em;
}

.object-header {
    padding: 0.2em 0.4em;
    border-top-left-radius: 0.4em;
}

.project-header {
/*    background-image: -moz-linear-gradient(top,
        rgba(212, 185, 121, 1.00),
        rgba(212, 185, 121, .00));
    background-image: -o-linear-gradient(top,
        rgba(212, 185, 121, 1.00),
        rgba(212, 185, 121, .00));*/
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(245, 220, 162, 1.00)),
        to(rgba(245, 220, 162, .00)));
/*    background-image: linear-gradient(top,
        rgba(212, 185, 121, 1.00),
        rgba(212, 185, 121, .00));*/
}

.project-header.object-open {
    background-color: #fcfcfc;
}

.object-list {
    padding: 0.5em 0 0.5em 1em;
    font-size: 85%;
}

/* border radius should match object-header */
.object-element {
    background-color: #fafaf7;
    margin-bottom: 0.5em;
    border-top-left-radius: 0.4em;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.object-closed {
    background-color: #E6E6E3;
    color: #B0B0AE;
    text-decoration: line-through;    
}

.task-header {
/*    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(232, 240, 248, 1.00)),
        to(rgba(232, 240, 248, 0.00)));
/*    background-image: linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
}

.task-header.object-scheduled {
    background-color: rgb(232, 240, 248);
}

.task-header.object-unscheduled {
    background-image: none;
    background-color: rgb(247, 233, 247);
}

.timebox-header {
/*    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(234, 245, 223, 1.00)),
        to(rgba(234, 245, 223, 0.00)));
/*    background-image: linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
}

#schedules-list .timebox-header {
    background-color: #fafaf7;
}

.user-header {
/*    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(255, 255, 232, 1.00)),
        to(rgba(255, 255, 232, 0.00)));
/*    background-image: linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
}

.header-controls {
    float: right;
}

.project-id,
.task-id, 
.user-id {
    display: none;
}

.project,
.timebox, 
.task,
.user {
    margin-bottom: 0.5em;
    border-top-left-radius: 0.4em;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: 1px solid #ddd;
    background-color: #fafaf7;
}

.project-list, 
.timebox-list,
.task-list,
.user-list {
    /*background-color: #fafaf7;*/
    padding: 0.5em 0 0.5em 1em;
}

.task-details {
    float:right;
}

.task-user {
    display: inline-block;
    width: 5em;
}

.task-status,
.task-timebox {
    display: inline-block;
    width: 7.5em;
}
