/* 
    Document   : style.css
    Created on : Sep 25, 2012, 4:07:53 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body,
html {
    color: #52514F;
    background: #5E4834;
    font-family: Tahoma, sans-serif;
    font-size: 10pt;
}

form label {
    color: #855;
    font-variant: small-caps;
    font-size: 85%;
}

.main-form label,
.main-form input[type="password"],
.main-form input[type="text"] {
    margin: 0.5em 0;
}

.main-form input[type="submit"] {
    
}

.main-form label {
    display: inline-block;
    width: 7.5em;
}

.main-form #form-controls {
    margin: 1em 2em 1em 7.5em;
}

a.object-ref,
a.object-ref:visited {
    color:inherit;
    text-decoration: none;
}

a.object-ref:hover {
    text-decoration: underline;
}

#page {
    background-color: white;
    margin: 15px;
    border-radius: 0.75em;
}

#header,
#footer {
    background-color: #E0DBD6;
    padding: 1em .75em;
}

#header {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border-bottom: 1px solid #C2B4A7;
}

#footer {
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    border-top: 1px solid #C2B4A7;
    font-size: 75%;
}

#title {
    font-size: 300%;
}

#main-menu ul {
    padding: 0;
    margin: 1em 0 0 0;
}

#main-menu li {
    display: inline-block;
    list-style-type: none;
    width: 5em;
    font-size: 115%;
    background-color: #CCBFB2;
    padding: 0.25em 0.5em;
    text-align: center;
    border: 1px solid #ACA9A4;
    border-radius: 0.25em;
}

#main-menu li a,
#main-menu li a:visited {
    color: #8D663F;
    text-decoration: none;
}

#main-menu li a:hover {
    color: #CE6700;
}

.user-message {
    padding: 15px;
    background-color: #558;
    color: #ccf;
    border: 1px solid #335;
}

.user-message.failure {
    background-color: #e92500;
    color: #ffea96;
    border: 1px solid #000000;
}

.user-message.warning {
    background-color: #ffdfbd;
    color: #a53b00;
    border: 1px solid #fad1bb;
}

.user-message.success {
    background-color: #dffadf;
    color: #437543;
    border: 1px solid #cbf1cb;
}

.user-message.info {
    background-color: #eee;
    color: #474770;
    border: 1px solid #b5b5ca;
}

.user-message.debug {
    background-color: #effdfd;
    color: #85b1ca;
    border: 1px solid #d3e6f1;
    font-family: "Andale Mono", monospace;
    white-space: pre-wrap;
}

.sidebar-block {
    padding: 1.5em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 1em;
}

#sidebar h3 {
    color: #855;
}
