/* 
    Document   : style.css
    Created on : Sep 25, 2012, 4:07:53 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body,
html {
    color: #52514F;
    background: #5E4834;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
}

form label {
    color: #558;
    font-variant: small-caps;
    font-size: 85%;
}

form label,
form input {
    margin: 0.5em 0;
}

a.object-ref,
a.object-ref:visited {
    color:inherit;
    text-decoration: none;
}

a.object-ref:hover {
    text-decoration: underline;
}

.main-form label {
    display: inline-block;
    width: 7.5em;
}

.main-form #form-controls {
    margin: 1em 2em;
}

#page {
    background-color: white;
    margin: 15px;
    border-radius: 0.75em;
}

#header,
#footer {
    background-color: #E0DBD6;
    padding: 1em .75em;
}

#header {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border-bottom: 1px solid #C2B4A7;
}

#footer {
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    border-top: 1px solid #C2B4A7;
    font-size: 75%;
}

#title {
    font-size: 300%;
}

#main-menu ul {
    padding: 0;
    margin: 1em 0 0 0;
}

#main-menu li {
    display: inline-block;
    list-style-type: none;
    width: 5em;
    font-size: 115%;
    background-color: #CCBFB2;
    padding: 0.25em 0.5em;
    text-align: center;
    border: 1px solid #ACA9A4;
    border-radius: 0.25em;
}

#main-menu li a,
#main-menu li a:visited {
    color: #8D663F;
    text-decoration: none;
}

#main-menu li a:hover {
    color: #CE6700;
}

.user-message {
    padding: 15px;
    background-color: #558;
    color: #ccf;
    border: 1px solid #335;
}

.user-message.failure {
    background-color: #ff8080;
    color: #600000;
    border: 1px solid #600000;
}

.user-message.warning {
    background-color: #ffa080;
    color: #444400;
    border: 1px solid #444400;
}

.user-message.success {
    background-color: #80ff80;
    color: #006000;
    border: 1px solid #006000;
}

.user-message.info {
    background-color: #8080ff;
    color: #000060;
    border: 1px solid #000060;
}

.user-message.debug {
    background-color: #cff;
    color: #ccc;
    border: 1px solid #ccc;
    font-family: "Andale Mono", monospace;
    white-space: pre-wrap;
}

.sidebar-block {
    padding: 1.5em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    border-radius: 1em;
}

#sidebar h3 {
    color: #558;
}
