

.task-list {
    padding: 0.5em 0 0.5em 1em;
}

.task {
    background-color: #fcfcff;
    margin-bottom: 0.5em;
    border-top-left-radius: 4px;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.task-id {
    display: none;
}

.task-info {
    border-top-left-radius: 4px;
    background-color: #dfe9f2;
    font-size: 85%;
    padding: 2px 4px;
}

.task-info.parent-task {
/*    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(223, 233, 242, 1.00)),
        to(rgba(223, 233, 242, 0.00)));
/*    background-image: linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));*/
}

.task-info.task-closed {
    background-color: #e6e6e3;
    color: #b0b0ae;
    text-decoration: line-through;
}

.task-details {
    float:right;
}

span.subtask-closed {
    color: #ffa080;
    font-variant: small-caps;
}

.work-log-list {
    background-color: #fffaed;
    padding: 1em 1.5em;
    border: 1px solid #e6e3da;
    border-top-left-radius: 0.75em;
}

.work-log-details {
    float: right;
}

.log-entry {
    margin: 1em 0;
}

.log-details {
    color: #9e978c;
    font-style: italic;
}
