/* 
    Document   : timebox-form
    Created on : Oct 13, 2012, 10:11:31 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/


.task-list .task-timebox {
    display: none;
}