
.project-id,
.timebox-id,
.task-id
{
    display: none;
}

#project-list {
}

.project {
    border: 1px solid #eee;
    margin-bottom: 0.5em;
    border-top-left-radius: 4px;
    background-color: #fcfcfc;
}

.project-info {
    padding: 2px 4px;
    border-top-left-radius: 4px;
/*    background-image: -moz-linear-gradient(top,
        rgba(212, 185, 121, 1.00),
        rgba(212, 185, 121, .00));
    background-image: -o-linear-gradient(top,
        rgba(212, 185, 121, 1.00),
        rgba(212, 185, 121, .00));*/
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(245, 220, 162, 1.00)),
        to(rgba(245, 220, 162, .00)));
/*    background-image: linear-gradient(top,
        rgba(212, 185, 121, 1.00),
        rgba(212, 185, 121, .00));*/
}

.project-name {
    font-size: 115%;
}

.timebox-info {
    padding-left: 1.25em;
    font-size: 75%;
    color: #777;
}

.timebox-end-date {
    float:right;
    width: 7.5em;
}

.task {
    font-size: 85%;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #d6e1ec;
    background-color: #e8f0f8;
    display: inline-block;
    height: 6em;
    width: 6.5em;
    overflow: hidden;
    padding: 0.5em;
    vertical-align: top;
/*    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, .75),
        rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, .75),
        rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(255, 255, 255, .75)),
        to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(top,
        rgba(255, 255, 255, .75),
        rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    -moz-box-shadow: 2px 3px 5px 2px #ccc;
    -webkit-box-shadow: 2px 3px 5px 2px #ccc;
    box-shadow: 1px 3px 7px 0px #ccc;*/
}

.task input[type="submit"].close-button {
    height: 12px;
    width: 12px;
    margin: 0 0 2px 2px;
    background: #ecc url('image/close.png') no-repeat top left;
    border: none;
}

.task-list {
    padding: 0.5em 0 0.5em 1em;
}
