
.project-id,
.timebox-id,
.task-id
{
    display: none;
}

.task-item {
    font-size: 90%;
    margin: 4px 0 0 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #bababd;
    background-color: #ffebd2;
    display: inline-block;
    height: 85px;
    width: 100px;
    overflow: hidden;
    padding: 4px;
    vertical-align: top;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, .75),
        rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, .75),
        rgba(255, 255, 255, 0));
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(255, 255, 255, .75)),
        to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(top,
        rgba(255, 255, 255, .75),
        rgba(255, 255, 255, 0));
    background-repeat: repeat-x;
    -moz-box-shadow: 2px 3px 5px 2px #ccc;
    -webkit-box-shadow: 2px 3px 5px 2px #ccc;
    box-shadow: 1px 3px 7px 0px #ccc;
}

.task-summary,
.task-timebox-end-date
{
    display: inline;
}

.task-timebox-end-date {
    font-size: 85%;
}

.task-list {
    padding: 0.3em 0 0 1.25em;
    border-left: 1px solid #ccc;
}

.task-info {
    margin-bottom: 4px;
    text-align: right;
    background-color: white;
/*    float:right;
    width: 10em;*/
}

.timebox-info {
    padding-left: 1.25em;
    font-size: 85%;
    color: #777;
}

.timebox-end-date {
    float:right;
    width: 7.5em;
}

#project-list {
}

.project-item {
    margin-top: 1.5em;
}

.project-info {
    padding: 2px 4px;
    border-top-left-radius: 4px;
    border: 1px solid #ccc;    
    background-color: #CCBFB2;
    background-image: -moz-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
    background-image: -o-linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(rgba(255, 255, 255, 0)),
        to(rgba(255, 255, 255, .85)));
    background-image: linear-gradient(top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .85));
}

.project-name {
    font-size: 115%;
}
