/* 
    Document   : user
    Created on : Oct 18, 2012, 9:48:24 PM
    Author     : benpreece
    Description:
        Purpose of the stylesheet follows.
*/

.project-list {
    padding: 0.5em 0 0.5em 1em;
    font-size: 85%;
}

.project-details {
    float:right;
}

.project-id {
    display: none;
}

.work-log-list {
    background-color: #fffaed;
    padding: 1em 1.5em;
    border: 1px solid #e6e3da;
    border-top-left-radius: 0.75em;
}

.log-entry {
    margin: 1em 0;
}

.log-details {
    color: #9e978c;
    font-style: italic;
}
